{% extends 'layout.html' %}

{% block main %}
<div class="home_form_block">
    <img id="vegetable_5" src="media/main/vegetable 5.png">
    <img id="vegetable_6" src="media/main/vegetable 6.png">
    <div class="consiltation_text">
        <h2>Запишитесь на личную консультацию</h2>
        <p>Я помогу вам выбрать правильный путь к здоровой и счастливой жизни.</p>
        <p>Стоимость личной консультации 3000руб.</p>
        <p>Нажимая на кнопку "записаться" вы принимаете условия <a class="agree_link" href="media/agreement.pdf" target="_blank">договора</a></p>
    </div>
    <div class="home_form">
        <h2>Записаться на консультацию</h2>
        <form method="post" id="consultation">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Записаться</button>
        </form>
    </div>
</div>


{% endblock %}