{% extends 'layout.html' %}

{% block main %}
<div class="contacts_container">
    <h1>Контакты</h1>
    <p><b>Telegram</b> - <a href="https://t.me/federyakina_official" target="_blank">t.me/federyakina_official</a></p>
    <p><b>VK</b> - <a href="https://vk.com/federyakina_official1" target="_blank">vk.com/federyakina_official1</a></p>
    <p class="email_link"><b>Email</b> - info_loveforlive@mail.ru</p>
</div>
<img id="contacts_vegetable" src="media/main/vegetable 4.png">
{% endblock %}